@import './custom_colors.scss';

.footer-container {
    max-width: 1120px;
    margin: 0 auto;
}

.page-footer {

    border-top: 1px solid $custom-grey;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    padding: 50px;
    gap: 100px;

    font-family: 'Poppins', sans-serif;
    
    div > h1 {
        font-size: 20px;
        margin-bottom: 20px;
    }

    .footer-icons {
        display: flex;
        gap: 20px;
        margin-bottom: 10px;
    }
}